* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

html,
body {
  height: 100%; }

.page__header {
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bolder; }

.welcome-page__container--heading {
  font-size: 80px;
  font-weight: bold;
  color: #18A369;
  letter-spacing: .015em; }

.welcome-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat url("../images/seared-pear-salad.jpg");
  background-size: cover;
  height: 100%; }

.welcome-page__container--logo {
  width: 30%;
  margin-top: 2em; }

.welcome-page__container--input {
  color: #18A369;
  background-color: white;
  border: 2px solid #18A369;
  border-radius: 10px;
  height: 100px;
  font-size: 3em;
  width: 13em;
  margin-top: 2em;
  text-align: center; }

.welcome-page__container--button {
  width: 350px;
  height: 100px;
  color: #18A369;
  border: 2px solid #18A369;
  background-color: white;
  border-radius: 10px;
  font-size: 3em;
  margin-top: 80px;
  font-weight: bold; }

.topbar {
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.topbar__button--white {
  background-color: white;
  border: 2px solid #18A369;
  border-radius: 10px;
  color: #18A369;
  font-size: 3em;
  vertical-align: middle;
  padding: 20px; }

.topbar__button--bell {
  width: 70px;
  vertical-align: middle;
  margin-right: 10px; }

.topbar__navigation--trolley {
  width: 100px; }

.fa-bars {
  font-size: 4em; }

.fa-times {
  font-size: 4em; }

nav {
  display: none;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px; }

.active {
  display: block; }

.landing-page {
  padding-left: 2em;
  padding-right: 2em; }

.landing-page__image {
  height: 25em;
  overflow: hidden; }

.landing-page__category {
  background-color: #18A369;
  color: white;
  padding: 0.5em;
  font-size: 3em;
  text-align: center; }

.menu-page {
  margin-left: 2em;
  margin-right: 1em; }

.menu-page__line {
  width: 100%;
  border: 1px solid #D3D3D3;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.menu-page__card {
  display: grid;
  grid-template-columns: 40% 45% 15%;
  grid-template-rows: 25% auto;
  grid-template-rows: auto fit-content(800px) auto;
  /*div{
      border:1px solid $primaryColor;
  }*/ }

.menu-page__card--name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1em; }

.menu-page__card--price {
  grid-column-start: 3;
  font-size: 1em;
  color: black;
  justify-self: center; }

.menu-page__card--image {
  width: 100%;
  margin-top: 1.5em; }

.menu-page__card--info {
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em; }

.menu-page__card--circle-plus {
  width: 6em;
  justify-self: center;
  align-self: center; }

.menu-page__back2top {
  text-decoration: none; }

.menu-page__back2top--button {
  background-color: white;
  border: 2px solid #18A369;
  border-radius: 10px;
  color: #18A369;
  font-size: 3em;
  display: block;
  padding: 20px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em; }

.test {
  transform: rotate(180deg);
  margin: 0 auto;
  display: block;
  width: 6em; }

.return {
  color: black;
  margin: auto;
  display: table;
  font-size: 2em;
  margin-top: 4em; }

/*# sourceMappingURL=style.css.map */
