* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; }

html,
body {
  height: 100%; }

.page__header {
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bolder; }

.welcome-page__container {
  background: no-repeat url("../images/welcome-2.jpg");
  background-size: cover;
  height: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.welcome-page__container--heading {
  font-size: 80px;
  font-weight: bold;
  color: #18A369;
  letter-spacing: .015em;
  opacity: 1; }

.welcome-page__container--logo {
  width: 30%;
  margin-top: 2em; }

.welcome-page__container--input {
  color: #18A369;
  border: 2px solid #18A369;
  border-radius: 10px;
  height: 100px;
  font-size: 3em;
  width: 13em;
  margin-top: 2em;
  text-align: center; }

.welcome-page__container--button {
  width: 350px;
  height: 100px;
  color: #18A369;
  border: 2px solid #18A369;
  background-color: white;
  border-radius: 10px;
  font-size: 3em;
  margin-top: 80px;
  font-weight: bold; }

.topbar {
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em; }

.topbar__button--white {
  font-size: 3em;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #18A369;
  color: #18A369;
  vertical-align: middle; }

.topbar__button--yellow {
  background-color: #EDB302;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size: 3em;
  vertical-align: middle;
  padding: 20px;
  width: 9em;
  height: 2.5em; }
  .topbar__button--yellow .fas {
    font-size: 1.5em;
    padding-right: 0.3em;
    vertical-align: middle; }

.topbar__button--bell {
  width: 70px;
  vertical-align: middle;
  margin-right: 10px; }

.topbar__navigation--logo {
  position: absolute;
  top: 1em;
  left: 2.5em;
  width: 3em; }

.topbar__navigation--trolley {
  width: 100px; }

.fa-bars {
  font-size: 4em; }

.fa-times {
  font-size: 4em;
  font-size: 2em;
  position: absolute;
  top: 0.4em;
  right: 0.6em; }

.fa-shopping-cart {
  font-size: 4em; }

nav {
  display: none;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px; }

.active {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 3em;
  background-color: white; }
  .active ul {
    margin-top: 7em;
    margin-left: 3em;
    list-style: none; }
  .active li {
    margin-bottom: 1em; }
  .active a {
    margin-right: 1em; }

.topbar__navigation--menu-list {
  width: 80%;
  text-align: left; }
  .topbar__navigation--menu-list .fas,
  .topbar__navigation--menu-list .far {
    text-align: center;
    margin-right: 1em; }
  .topbar__navigation--menu-list a {
    text-decoration: none;
    color: black; }

.fa-stack[data-count]:after {
  position: absolute;
  left: 1.8em;
  top: -1em;
  content: attr(data-count);
  font-size: 1em;
  border-radius: 50%;
  color: black;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid; }

.fa-circle {
  color: black; }

.fa-stack-2x {
  left: 0em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0em; }

.landing-page {
  padding-left: 2em;
  padding-right: 2em; }

.landing-page__card {
  margin-bottom: 2em; }

.landing-page__image {
  height: 25em;
  overflow: hidden; }

.landing-page__category {
  background-color: #18A369;
  color: white;
  padding: 0.5em;
  font-size: 3em;
  text-align: center;
  font-weight: bold; }

.menu-page {
  margin-left: 2em;
  margin-right: 1em; }

.menu-page__line {
  width: 100%;
  border: 1px solid #D3D3D3;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.menu-page__card {
  display: grid;
  grid-template-columns: 40% 45% 15%;
  grid-template-rows: 25% auto;
  grid-template-rows: auto fit-content(800px) auto; }

.menu-page__card--name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1em; }

.menu-page__card--price {
  grid-column-start: 3;
  font-size: 1em;
  justify-self: center; }

.menu-page__card--image {
  width: 100%;
  margin-top: 1.5em; }

.menu-page__card--info {
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em; }

.menu-page__card--circle-plus {
  width: 6em;
  justify-self: center;
  align-self: center; }

.menu-page__back2top {
  text-decoration: none; }

.menu-page__back2top--button {
  background-color: white;
  border: 2px solid #18A369;
  border-radius: 10px;
  color: #18A369;
  font-size: 3em;
  display: block;
  padding: 20px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em; }

.menu-page__back2top--image {
  transform: rotate(180deg);
  margin: 0 auto;
  display: block;
  width: 6em; }

.menu-page__back2top--text {
  color: black;
  margin: auto;
  display: table;
  font-size: 2em;
  margin-top: 4em; }

.item__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 2em;
  margin-top: 4em;
  border-radius: 10px;
  padding: 2em; }

.item__card--image {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 8;
  margin-bottom: 1em; }

.item__card--name {
  font-size: 3em;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 7; }

.item__card--price {
  display: grid;
  text-align: right;
  font-size: 3em;
  font-weight: bold; }

.item__card--info {
  grid-column-start: 1;
  grid-column-end: 8;
  margin-top: 0.5em;
  font-size: 2em; }

.item__card--instructions {
  grid-column-start: 1;
  grid-column-end: 8;
  font-size: 2.5em;
  margin-top: 1em; }

.item__card--input {
  grid-column-start: 1;
  grid-column-end: 8;
  font-size: 2.5em;
  margin-top: 0.5em;
  border: 1px solid;
  border-radius: 10px;
  height: 2em;
  margin-bottom: 0.5em; }

.item__card--minus {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 3em;
  margin-top: 0.5em;
  border-radius: 10px;
  height: 2em;
  background-color: white;
  border: 1px solid #18A369;
  font-weight: bold; }

.item__card--amount {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 3em;
  height: 2em;
  justify-self: center;
  align-self: end;
  padding-top: 1em;
  font-weight: bold; }

.item__card--plus {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 3em;
  margin-top: 0.5em;
  border: 1px solid;
  border-radius: 10px;
  height: 2em;
  background-color: white;
  border: 1px solid #18A369;
  font-weight: bold; }

.item__card--order-button {
  grid-column-start: 5;
  grid-column-end: 9;
  font-size: 3em;
  margin-top: 0.5em;
  border: 1px solid;
  border-radius: 10px;
  height: 2em;
  color: white;
  background-color: #18A369;
  font-weight: bold; }

.feedback-page {
  width: 90%;
  margin: 0 auto; }

.feedback-form__input {
  width: 99%;
  height: 2em;
  border: 0.5px solid black;
  border-radius: 10px;
  margin-bottom: 1em;
  font-size: 3em;
  padding: 0; }

.feedback-form__textarea {
  width: 99%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 3em;
  border: 0.5px solid black;
  margin-bottom: 1em; }

.feedback-form__input--submit {
  font-size: 3em;
  padding: 0.3em 1.5em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  align-content: center;
  background-color: #18A369;
  color: white;
  border-radius: 10px;
  display: block;
  margin: 0 auto; }

.order-page__items,
.order-page__items--total {
  display: grid;
  grid-template-columns: 10% 60% 15% 15%;
  margin-left: 5em;
  margin-right: 5em; }

.order-page__items--amount {
  font-size: 2.5em;
  justify-self: center; }

.order-page__items--name {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: lighter;
  margin-left: 1em; }

.order-page__items--price {
  font-size: 2.5em;
  justify-self: center; }

.order-page__line {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em; }

.order-page__items--remove {
  font-size: 2.5em;
  justify-self: center;
  margin-bottom: 1em;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px; }

.order-page__items--total-total {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 2.5em;
  justify-self: end; }

.order-page__items--total-amount {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 2.5em;
  justify-self: center; }

.order-page__items--total-price {
  grid-column-start: 4;
  grid-column-end: 5;
  font-size: 2.5em;
  justify-content: center; }

.order-page__button {
  font-size: 3em;
  padding: 0.5em 1em;
  border-radius: 10px;
  display: block;
  border: 2px solid #18A369;
  margin: 0 auto;
  background-color: white;
  margin-top: 1.5em;
  color: #18A369; }

.order-page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em; }

.order-page__footer--image {
  transform: rotate(90deg);
  margin-right: 1em; }

.order-page__footer--return2menu {
  font-size: 2em; }

/*# sourceMappingURL=style.css.map */
