*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}
html, 
body {
    height: 100%;
}

.page__header{
    font-size:3em;  
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight:bolder;
}
.page__footer{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:3em;
}

.page__footer--image{
    transform: rotate(90deg);
    margin-right:1em;
}
.page__footer--return2menu{
    font-size:2em;
}