
// Tablet device: iPad
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) { 

    //topbar
    .topbar{
        margin-top:1em;
        height:9em;

        .topbar__button--white {
            font-size: 2em;
            padding: 0.5em 1em;
            border-radius: 10px;
            background-color: white;
            border: 2px solid $primaryColor;
            color: $primaryColor;
            vertical-align: middle;
        }
    
        .topbar__button--bell{
            width:1.2em;
            vertical-align: middle;
            margin-right:10px;
        }
        .topbar__message{
            font-size:2em;
            
        }
        .topbar__message--image{
            position:relative;
            margin:2em 1.2em 0em -1em;
            width:12em;
        }
        .topbar__message--content{
            position:absolute;
            left:3em;
            top:2em;
        }
        .fa-walking{
            position:absolute;
            font-size:1.5em;
            left:2.3em;
            top:1.8em;
        }
        .fa-times {
            font-size: 1.5em;
            top:0.8em;
            right:1.3em;
        }
    }
    //landing page
    .landing-page{
        width:90%;
        margin:0 auto;
        display:block;
    }

    //menu page
    .menu-page {
        .menu-page__card--name,
        .menu-page__card--price {
            font-size: 2em;
        }
    
        .menu-page__card--info {
            font-size: 2em;
        }
    }
    
    //item-page
    .item{
        margin-top:-5em;
        .item__card {
            margin:6em;
            padding:6em;
        }

        .item__card--input {
            height:1.5em;
        }
    }
     //order page
     .order-page__button {
        font-size: 2em;
        padding: 0.5em 1em;
        border-radius: 10px;
        background-color: white;
        border: 1px solid $primaryColor;
        color: $primaryColor;
        vertical-align: middle;
    }

   
}


