.topbar{
    height:10em;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.topbar__button--white{
    background-color:white;
    border: 2px solid $primaryColor;
    border-radius:10px;
    color:$primaryColor;
    font-size:3em;
    vertical-align: middle;
    padding:20px;
}
.topbar__button--bell{
    width:70px;
    vertical-align: middle;
    margin-right:10px;
    
}
.topbar__navigation--logo{
    position: absolute;
    top:1em;
    left:1em;
    width:3em;
}
.topbar__navigation--trolley{
    width:100px;
}

.fa-bars{
    font-size:4em;
}
.fa-times{
    font-size: 4em;
    font-size:2em;
    position:absolute;
    top:0.4em;
    right:0.6em;
}
nav{
    display:none;
    z-index: 3;
    width:100%;
    position: fixed;
    top: 0px;
    right: 0px;
}
.active{
    display:block;
    width:100%;
    font-size:3em;
    background-color:white;
    ul{
        margin-top:7em;
        margin-left:3em;
        list-style: none;
    }
    a{
        margin-left:1em;
    }
    text-align:left;
}
.topbar__navigation--menu-list{
    display:grid;
}



