.topbar{
    width:100%;
    height:10em;
    display:flex;
    flex-direction:row;
    background-color:blue;
    justify-content:space-around;
    align-items:center;
}
.topbar__button{
    color: red;
}
.topbar__button--white{
    background-color:white;
    border: 2px solid $primaryColor;
    border-radius:5px;
    color:$primaryColor;
    font-size:3em;
    
}
.topbar__trolley{
    flex-basis:20em;
}

.fa-bars{
    font-size:4em;
    //float: right;
    //margin-right: 1em;
    //margin-top: 1em;
}
.fa-times{
    font-size: 4em;
    //float: right;
    //margin-right: 1em;
    //margin-top: 1em;
}
nav{
    display:none;
    z-index: 3;
    width:100%;
    position: fixed;
    top: 0px;
    right: 0px;
}
.active{
    display:block;
}
